%h1 Listing invoices

%table.table
  %thead
    %tr
      %th.h5 Number
      %th.h5 Due By
      %th.h5 Balance
      %th.h5 Status
      %th
  %tbody
    - @invoices.each do |invoice|
      %tr
        %td.h6= link_to invoice.id, invoice, target:'_blank'
        %td.h6= invoice.due_date
        %td.h6= humanized_money_with_symbol(invoice.balance_due)
        %td.h6= invoice.status.status
        %td
          =link_to 'Payment', new_payment_detail_path(invoice_id:invoice.id), remote:true, id:'new_payment_detail_link', class:'btn btn-xs btn-success', style:'margin-right: 5px;'
          =link_to 'Delete', invoice, remote:true, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:'btn btn-xs btn-danger'

%br

= link_to 'New Invoice', new_invoice_path
