%table.table
  %caption.h4
    %center
      Invoices
      - unless @workorder.locked? || !@workorder.uninvoiced_events.past.present?
        = link_to content_tag(:i, nil, {class:'glyphicon glyphicon-plus pull-right', style:'color:green'}), new_invoice_path(workorder_id:@workorder.id), target:'_blank'
  %thead
    %tr
      %th.h5 Number
      %th.h5 Due By
      %th.h5 Balance
      %th.h5 Status
      %th
  %tbody
    - @invoices.each do |invoice|
      %tr
        %td.h6= link_to invoice.id, invoice_path(invoice, workorder_id:@workorder.id), target:'_blank'
        %td.h6= invoice.due_date
        %td.h6= humanized_money_with_symbol(invoice.balance_due)
        %td.h6{style:"color:#{invoice.past_due? ? 'red' : 'black'}"}
          = invoice.status.status
        %td
          - disabled = (invoice.status.status != 'Paid') ? false : true
          =link_to 'Payment', new_payment_detail_path(invoice_id:invoice.id), remote:true, id:'new_payment_detail_link', class:'btn btn-xs btn-success', style:'margin-right: 5px;', disabled:disabled
          - unless @workorder.locked?
            =link_to 'Delete', invoice_path(invoice), remote:true, id:'delete_invoice_link', :method => :delete, :data => { :confirm => 'Are you sure?', type: :json}, class:'btn btn-xs btn-danger'

%br

= link_to 'New Invoice', new_invoice_path
