%style
  html, body{margin:0 auto;}
  container{width:800px;}
%p#notice= notice

%container
  %p
    %b Invoice status:
    = @invoice.status.status
  %p
    %b Invoice date:
    = @invoice.invoice_date
  %p
    %b Due date:
    = @invoice.due_date
  %p
    %b Invoice amount:
    = @invoice.invoice_amount
  %p
    %b Balance due:
    = @invoice.balance_due