- case controller_action
  - when 'properties#index', 'properties#new'
    - form_method = :post
    - url = '/properties'
    - submit_button_text = 'Create New Property'
    - id = 'new_property'
  - when 'properties#edit'
    - form_method = :put
    - url = "/properties/#{@property.id}"
    - submit_button_text = 'Update This Property'
    - id = 'edit_property'

= form_for @property_form, method: form_method, url: url, remote:true, html:{id: id, :'data-type' => :json} do |f|
  .row
    %fieldset.col-md-6
      %legend.h4 Property Information

      .col-md-12.street_address_1
        = f.text_field :street_address_1, placeholder: 'Enter the property\'s address...', class:'form-control', autocomplete:'off'
      .col-md-5.street_address_2
        = f.text_field :street_address_2, placeholder:'Apt., PO Box, etc..', class:'form-control', autocomplete:'off'
      .col-md-8.city
        = f.text_field :city, :required => false, placeholder:'City', class:'form-control', autocomplete:'off'
      .col-md-4
        = f.collection_select :state_id, State.all, :id, :short_name, {}, class:'form-control', autocomplete:'off'
      .col-md-6.postal_code
        = f.text_field :postal_code, :required => false, placeholder:'Postal Code', id:'postal-code', class:'form-control', autocomplete:'off'
      .col-md-12
        = f.submit submit_button_text, class:'btn btn-md btn-success'

    - case controller_action
      - when 'properties#index'
        = render 'customer_form_new', {f:f}
      - when 'properties#edit'
        = render 'customer_form_edit', {f:f}
        = javascript_include_tag 'properties'
      - when 'properties#new'
        = f.hidden_field :customer_id, {value:@customer.id, readonly:true}

