.row
  .col-md-6
    .pull-left.h3{style:'margin-top: 0px;'}
      Property Information
  .col-md-6
    - unless @customer_property && @customer_property.locked?
      .pull-right{style:'margin-left: 10px;'}
        = link_to 'Delete', property_path(@property), class:'btn btn-xs btn-danger', method: :delete, confirm: 'Are You Sure?'
      .pull-right
        = link_to 'Edit', edit_property_path(@property), class:'btn btn-xs btn-default', remote:true, id:'edit_property_link'
%hr
.row
  .col-md-5
    .row
      .col-md-12
        #id{style:'display:none'}= @property.id
        .h4= @property.street_address_1
        - if @property.street_address_2
          .h6= @property.street_address_2
        .h6= @property.city + ', ' + @property.state.short_name + ' ' + @property.postal_code
    .row{style:'margin-top:5px;'}
      .col-md-12
        %u.h6= 'Current Owner'
        .h6
          - if @property.current_customer_property
            - if @customer_property.locked?
              - display_name = "#{@property.current_owner_name} – Locked"
            - else
              - display_name = @property.current_owner_name
            = link_to(display_name, customer_path(@property.current_customer_property.customer))
          - else
            N/A
    .row{style:'margin-top:15px;'}
      .col-md-12
        = link_to 'Back To Properties', properties_path, class:'btn btn-sm btn-default'

  .col-md-6.col-md-offset-1
    .h4
      .row
        .col-md-12
          = "Invoice Amount Due: #{humanized_money_with_symbol(@property.balance_due)}"
      .row
        .col-md-12{style:'color:red;'}
          = @customer.past_due? ? 'Past Due' : ''
    .row
      .col-md-4
        .h6{style:'margin-left:-40px;'}
          %ul{style:'list-style-type:none'}
            %li.h4
              %u='Services'
            - if @property.services
              - @property.services.uniq.each do |service|
                %li.h6= service.name
            - else
              %li.h6= 'None'