.row
  .col-md-4
    .row
      .col-md-12
        .h3= @property.street_address_1
        - if @property.street_address_2
          .h4= @property.street_address_2
        .h6= @property.city + ', ' + @property.state.short_name + ' ' + @property.postal_code
    .row
      .col-md-12
        = link_to 'Edit', edit_property_path(@property), class:'btn btn-sm btn-default'
        = link_to 'New Workorder', new_workorder_path(customer_property_id: @property.current_customer_property), class:'btn btn-sm btn-success'

  .col-md-7.col-md-offset-1
    .row
      .col-md-12
        .h4= "Invoice Amount Due:&nbsp;&nbsp;&nbsp;#{humanized_money_with_symbol(@property.balance_due)}".html_safe
    .row
      .col-md-4
        .h6{style:'margin-left:-40px;'}
          %ul{style:'list-style-type:none'}
            %li.h4
              %u='Services'
            - @property.services.each do |service|
              %li.h6= service.name
      .col-md-8
        .h4
          %u='Currently Owned By'
        .h6
          = @property.current_customer_property ? link_to("#{@property.current_owner_name}", customer_path(@property.current_customer_property.customer)) : 'N/A'