.row
  - if @workorder
    .col-md-7
      .row{style:'margin-top:5px;'}
        .col-md-12
          .h4= @workorder.name
          - unless @workorder.locked? || @workorder.closed?
            = link_to 'Add Service',
            new_workorder_workorder_service_path(workorder_id:@workorder.id),
            remote:true,
            id:'new_workorder_service_link',
            class:'btn btn-xs btn-success'
          = link_to 'View Invoices',
          workorder_invoices_path(@workorder),
          remote:true,
          id:'workorder_invoice_link',
          class:'btn btn-xs btn-default'
          - unless @workorder.closed?
            = link_to 'Close Out',
            close_workorder_path(@workorder),
            method: :post,
            remote:true,
            confirm:'Are you sure you want to close this work order?',
            id:'workorder_close_link',
            class:'btn btn-xs btn-default'
      .h6
      .row{style:'height:220px; overflow-y: scroll; overflow-x: hidden;'}
        %table.table.table-hover
          %thead
            %tr
              %th.h5= 'Service Name'
              %th.h5= 'Schedule'
              %th.h5= 'Cost'
              %th
          %tbody
            - @workorder.workorder_services.each do |wo_service|
              %tr
                %td.col-md-2.h6= wo_service.service.name
                %td.col-md-4.h6
                  - if wo_service.schedule.present?
                    = wo_service.converted_schedule.to_s
                  - else
                    = wo_service.single_occurrence_date.strftime('%A %B %d, %Y')
                %td.col-md-1.h6= humanized_money_with_symbol(wo_service.cost_dollars)
                %td.col-md-2
                  - unless @workorder.locked? || @workorder.closed?
                    .row
                      =link_to 'Edit', edit_workorder_workorder_service_path(@workorder, wo_service),
                      class:'btn btn-xs btn-default pull-left', remote:true, id:'edit_workorder_service_link',
                      style:'margin-right: 10px;'
                      =link_to 'Delete', workorder_workorder_service_path(@workorder, wo_service), method: :delete,
                      class:'btn btn-xs btn-danger pull-left', confirm: 'Are You Sure?', remote:true, id:'delete_workorder_service_link'

    .col-md-5
      #workorder-service-helper-area

  - else
    %center.col-md-12
      .h4
        No work order selected. Select one from above.
      .h6
        (Go on. You know you want to.)
