= simple_form_for(@customer_property) do |f|
  = f.error_notification

  .form-inputs
    = f.association :customer
    = f.association :property
    = f.input :owner

  .form-actions
    = f.button :submit
