= nested_form_for @workorder, remote:true, :html => { :class => 'form-vertical', :'data-type' => :json} do |f|
  = f.hidden_field :customer_property_id, value: @customer_property.id

  .row
    %fieldset.col-md-6
      %legend.h4 Work Order Information
      .col-md-12.workorder-name
        = f.text_field :name, placeholder: 'Name', class:'form-control'
      .col-md-6.workorder-start
        = f.text_field :start_date, placeholder:'Start Date', class:'form-control'
      .col-md-12
        = f.submit 'Create Work Order', class:'btn btn-md btn-success'
    %fieldset.col-md-6
      %legend.h4 Services
      .col-md-12
        = f.fields_for :workorder_services do |ws|
          = render partial: 'shared/service_fields', locals:{f:ws, service:ws.object.service}
        = f.link_to_add 'Add A New Service', :workorder_services, class:'btn btn-sm btn-default'
= javascript_include_tag 'workorders'