%table#workorders.table.table-hover.datatable
  %tr
    %thead
      %th.h5= 'Name'
      %th.h5= 'Property'
      %th.h5= 'Customer'
      %th.h5= 'Next Billing Cycle Event'
      %th.h5= 'Status'
      %th.h5= 'Balance Due'
  %tr
    %tbody