-content_for :title do
  Welcome!

#icon-container{class:'welcome'}
  = button_tag class:'desktop-icon properties' do
    = image_tag 'property-icon.png'


  = button_tag class:'desktop-icon people' do
    = image_tag 'person-icon.png'


  = button_tag class:'desktop-icon workorders' do
    = image_tag 'workorder-icon.png'