%p#notice= notice
.content

  .h6= Status.get_status(@event.status_code).upcase
  .h6= @event.workorder.customer_property.property.html_full_address
  .h6= @event.comment


  - if @event.event_services.any?
    %hr
    .h6= @event.event_services.map(&:service).map(&:name).join(', ')
  - else
    .h5.page-header No Services

  %hr
  - unless @event.invoiced? || @event.locked?
    = link_to 'Edit', edit_event_path(@event), remote:true, class:' btn btn-xs btn-default', id:'edit_event_link'
    = link_to 'Delete', event_path(@event), method: 'delete', remote:true, data:{confirm:'Are You Sure?', type: :json}, class:' btn btn-xs btn-danger', id:'delete_event_link'

