.row
  .col-md-6
    .pull-left.h3{style:'margin-top: 0px;'}
      Customer Information
  .col-md-6
    - unless @customer.locked?
      .pull-right{style:'margin-left: 10px;'}
        = link_to 'Delete', customer_path(@customer), class:'btn btn-xs btn-danger', method: :delete, confirm: 'Are You Sure?'
      .pull-right
        = link_to 'Edit', edit_customer_path(@customer), class:'btn btn-xs btn-default', remote:true, id:'edit_customer_link'
%hr
.row
  .col-md-6{style:'border-right: 1px solid black'}
    .row
      .col-md-12
        .h4= @customer.name
    .row
      .col-md-12
        .h6
          %b
            Email:
          = mail_to @customer.email

    .row
      .col-md-12
        .h6
          %b
            Primary Phone:
          = @customer.primary_phone.blank? ? 'N/A' : @customer.primary_phone
    .row
      .col-md-12
        .h6
          %b
            Secondary Phone:
          = @customer.secondary_phone.blank? ? 'N/A' : @customer.secondary_phone
    .row
      .col-md-12
        .h6= link_to 'Back To Customers', customers_path, class:'btn btn-sm btn-default'

  .col-md-6
    .row
      .col-md-12
        .h4
          %b
            Status:
          = change_status_link(Customer, @customer.id, %w(Active Locked), @customer.status.status)


      .col-md-12
        .h4
          %b
            Invoice Amount Due:
          = humanized_money_with_symbol(@customer.balance_due)
