!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Cortez Landscaping'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Cortez Landscaping'}"}
    = stylesheet_link_tag "application", media: "all"
    - unless controller_name == 'home'
      = stylesheet_link_tag controller_name.pluralize
    - else
      = stylesheet_link_tag controller_name
    = csrf_meta_tags
  %body
    .container
      #header= render 'layouts/navigation'
      #main{:role => "main"}
        #content
          #alerts.alerts
          = yield



    #ajax-modal.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          #modal-alerts.alerts
          .modal-body

    = javascript_include_tag 'application'
    = javascript_include_tag controller_name